[Unit]
Description=TCP server 
After=network.target
Requires=tcpserver.socket

[Service]
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/raspberryTest
ExecStart=/home/ubuntu/finalProject/venv/bin/python3 tcpServer.py 

[Install]
WantedBy=multi-user.target