[Unit]
Description=TCP server 
After=network.target

[Service]
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/home/pi/Desktop/damMng
ExecStart=/usr/bin/python3 -u tcpServer.py 

[Install]
WantedBy=multi-user.target
